<nav class="navbar">
  <NavLink href="/">
    <img class="img-logo" src="assets/images/logo.webp" alt="webdevtoons-logo" />
  </NavLink>
  <div class="nav-links">
    <NavLink href="/" Match="NavLinkMatch.All" class="nav-link" activeClass="active">ARCHIVE</NavLink>
    <span>◆</span>
    <NavLink href="/about" class="nav-link" activeClass="active">ABOUT</NavLink>
  </div>
</nav>
