@page "/about"

<PageTitle>About</PageTitle>

<div class="cntr-main">
  <div class="cntr-about">
    <img class="img-avatar" src="/assets/images/me.webp" alt="About Me Image" />
    <p class="txt-about">
      Hi! I made this page to house all of my artworks related to my fan art, commissions, or original characters.
      If you however wish to follow my artworks in more popular networks, please feel free
      to follow my social sites related to them:
    </p>
  </div>

  <div class="cntr-social-links">
    @foreach (var link in SocialLinks)
    {
      <a href="@link.Url" class="link-social" target="_blank" rel="noopener noreferrer">
        <img class="img-social-link" src="@GetPlatformIcon(link.Type)" alt="@link.Type social link image" />
        <p>@Capitalize(link.Type)</p>
      </a>
    }
  </div>
</div>

@code
{
  private List<SocialLink> SocialLinks = new()
  {
    new SocialLink { Type = "deviantart", Url = "https://www.deviantart.com/gfcf14/gallery" },
    new SocialLink { Type = "instagram", Url = "https://www.instagram.com/gfcf14/" },
  };

  private string GetPlatformIcon(string type) => $"/assets/icons/{type}.webp";

  private string Capitalize(string input) =>
    string.IsNullOrEmpty(input) ? input : char.ToUpper(input[0]) + input[1..];
}
